h1 {
  margin-top: 30px;
}

.project-actions {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.project-action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: $dark;

  .icon {
    font-size: 7rem;
    margin-bottom: 40px;
  }

  span {
    font-size: 1.5rem;
  }
}

.project-action-button:hover {
  .icon {
    color: $secondaryLight;
  }
}

.form {
  margin-top: 20px;
  width: 50%;

  .input {
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .btn {
    background-color: $primary;
    width: 30%;
    margin-top: 30px;
  }
}

.table {
  width: 80%;
}

.project-actions-list {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 50px;

  .btn {
    background-color: $primary;
    width: 45%;
  }
}

.delete-dialog-card {
  color: $dark;
  font-size: 1.05rem;
  padding: 20px 20px;

  .text-dialog {
    margin-top: 10px;
  }

  .btn {
    background-color: $primary;
    width: 45%;
  }

  .btn-actions {
    margin-top: 10px;
  }
}
